In [31]:
import pandas as pd

In [32]:
data = pd.read_csv('c://users/gilat/documents/mbs fall 2018/big data algorithms/phase4_first1000.csv')

In [33]:
data.head()

,query_id,event_ids,index
0,16a82bf8-516a-11e7-a10b-22000bb0aa3e,e8671da2-516a-11e7-a10b-22000bb0aa3e,45777
1,16a82bf8-516a-11e7-a10b-22000bb0aa3e,9f212d5c-6a6b-11e8-bf77-22000b97191e,57306
2,16a82bf8-516a-11e7-a10b-22000bb0aa3e,d12e236c-b9f5-11e7-8a80-22000adab2b7,23905
3,16a82bf8-516a-11e7-a10b-22000bb0aa3e,d6563630-6c08-11e7-923e-22000a6dd2f6,11862
4,16a82bf8-516a-11e7-a10b-22000bb0aa3e,e8faf14a-ba91-11e7-9818-22000b2d0131,50590

In [34]:
# Create dictionary with query_id as key and value is list of its associated event_ids
data_dict = {}
for i in range(len(data)):
    if data['query_id'][i] not in data_dict.keys():
        data_dict[data['query_id'][i]] = []
        data_dict[data['query_id'][i]].append(data['event_ids'][i])
    else:
        data_dict[data['query_id'][i]].append(data['event_ids'][i])

In [35]:
# Double check
for i in range(len(data)):
    if data['query_id'][i] in data['event_ids']:
        print(True)

In [36]:
# Create dataframe fromt his dictionary
recs = pd.DataFrame(list(data_dict.items()), columns=['event_id', 'recommendations'])

In [37]:
data = data.rename(columns={'event_ids':'event_id'})

In [38]:
# Combine data above with the extra event_ids that don't have an associated recommendation.
all_data = pd.concat([recs,data])
all_data = all_data.drop(['query_id','index'],axis=1)

In [39]:
all_data.index = range(len(all_data))

list

In [40]:
#all_data.to_csv('c://users/gilat/documents/mbs fall 2018/big data algorithms/GMphase4_first1000.csv')